<div class="container">
  <%= form_with(model: [:admin, @big_news], local: true) do |form| %>
    <div>
      <%= form.label 'Название' %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label 'Содержание' %>
      <%= form.text_area :content %>
    </div>

    <div>
      <%= form.label 'Фото' %>
      <%= form.file_field :image %>
    </div>

    <div>
      <%= form.label 'Новость публикуется' %>
      <%= form.check_box :visible %>
    </div>

    <div>
      <%= form.submit 'Создать новость'%>
    </div>
  <% end %>
</div>
