<div class="container">
  <h1><%= @big_news.title %></h1>
  <p><%= @big_news.content %></p>
  <p><strong>Новость публикуется:</strong> <%= @big_news.visible ? 'Да' : 'Нет' %></p>
  <p>
    <%= image_tag @big_news.image.url if @big_news.image.present? %>
  </p>
  <%= link_to 'Изменить', edit_admin_big_news_path(@big_news), class: 'button' %>
  <%= link_to 'Назад', admin_big_news_index_path , class: 'button'%>
</div>